websocket-client==1.9.0
# --- CORE WEB & UTILS ---
flask
python-dotenv
requests
aiohttp
groq

# --- FIREBASE (Aapka Database) ---
firebase-admin

# --- LIVEKIT ENGINE ---
livekit
livekit-agents

# --- PLUGINS (For AI, Voice & Avatar) ---
livekit-plugins-google
livekit-plugins-simli
livekit-plugins-silero

# --- DEPENDENCIES ---
typing-extensions
